#break-length-settings {
  width: 300px;
  color: white;
}

#break-length-title {
  margin: 0;
  text-align: center;
}

#break-time-display  {
  display: flex;
  justify-content: center;
  gap: 5px;
}
